*.pyc
*.pyx
/__pycache__/
/lib/nms_packages/nms/
/lib/roi_packages/roi_crop/
/out_frames/
*~
*#
*.json
*.pth
*.pwf
*.pkl
nohup.out
*.json
/data/
/data_jhmdb/
/data_ucf/
/dataset/
/dataset_frames/
.idea